@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Kanit', sans-serif;
  background-color: #f0f4f8;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('./assets/aa.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  width: 90vw;
  max-width: 1200px;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.header {
  display: flex;
  align-items: center; /* Vertically centers the items */
  justify-content: center; /* Horizontally centers the items */
  margin-bottom: 1rem; /* Space below the header */
}

.logo {
  display: block;
  margin-right: 1.5rem; /* Space between the logo and title */
  width: 600px; /* Adjust size as needed */
  height: auto; /* Maintain aspect ratio */
  border: none; /* Ensure no border */
  border-radius: 0; /* No rounding of corners */
}

header h1 {
  font-family: 'Kanit', sans-serif;
  font-size: 4rem;
  color: #0077b6;
  margin-bottom: 2.5rem;
  text-align: center;
}

section h2 {
  font-family: 'Kanit', sans-serif;
  font-size: 2rem;
  color: #00b4d8;
  margin: 1.2rem 0;
  border-bottom: 2px solid #90e0ef;
  display: inline-block;
  padding-bottom: 0.5rem;
  text-align: center;
}

.team-section, .supervisor-section, .jury-section, .description-section {
  margin-bottom: 2rem;
  text-align: center;
}

.team, .supervisor-and-jury {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.team-member, .jury-member, .supervisor {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
}

.jury {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

img {
  width: 150px;
  height: 150px;
  border-radius: 50%; /* Keep circle shape for team members */
  object-fit: cover;
  transition: transform 0.3s, box-shadow 0.3s;
}

img:hover {
  transform: scale(1.15);
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}

.name {
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 0.5rem;
}

.linkedin-icon {
  width: 25px;
  height: 25px;
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
}

.linkedin-icon:hover {
  transform: scale(1.2);
}

.description-section p {
  font-size: 1.5rem; 
  line-height: 1.5;
  text-align: justify; /* Added text alignment */
}
